{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "react",
        "stage-2"
      ]
    }
  }
}
